<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PantallasAMPA"
        tools:targetApi="31">
        <activity
            android:name=".PantallaLecturaSorteo"
            android:exported="false" />
        <activity
            android:name=".PaginaSorteo"
            android:exported="false" />
        <activity
            android:name=".PaginaSorteos"
            android:exported="false" />
        <activity
            android:name=".LecturaNoticias"
            android:exported="false" />
        <activity
            android:name=".PantallaCatalogo"
            android:exported="false" />
        <activity
            android:name=".PaginaSorteo"
            android:exported="false" />
        <activity
            android:name=".PantallaCrearSorteo"
            android:exported="false" />
        <activity
            android:name=".PantallaCrearCorreoAdmin"
            android:exported="false" />
        <activity
            android:name=".PantallaMensajesAdmin"
            android:exported="false" />
        <activity
            android:name=".PantallaLeerEvento"
            android:exported="false" />
        <activity
            android:name=".PantallaCarnetSocio"
            android:exported="false" />
        <activity
            android:name=".PantallaCrearNoticia"
            android:exported="false" />
        <activity
            android:name=".PantallaNoticias"
            android:exported="false" />
        <activity
            android:name=".PantallaLecturaCorreo"
            android:exported="false" />
        <activity
            android:name=".PantallaCrearHijo"
            android:exported="false" />
        <activity
            android:name=".PantallaCrearEventos"
            android:exported="false" />
        <activity
            android:name=".PantallaEventos"
            android:exported="false" />
        <activity
            android:name=".PantallaMensajes"
            android:exported="false" />
        <activity
            android:name=".PantallaPerfil"
            android:exported="false" />
        <activity
            android:name=".PantallaRegistro"
            android:exported="false" />
        <activity
            android:name=".PantallaCorreo"
            android:exported="false" />
        <activity
            android:name=".PantallaLogin"
            android:exported="false" />
        <activity
            android:name=".PantallaInicial"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>